.stories {
  background-color: #ffffff;
  border-radius: 4px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(143, 142, 142, 0.5);
  font-family: "Baskerville";
  padding: 14px 24px;
}
.storiesText {
  border-bottom: 1px solid #8f8f8f;
  padding: 10px 10px;
}
.storiesItem {
  color: #000000;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.storiesTitle {
  color: #000000;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
}
.description {
  font-size: 14px;
  color: #000000;
  font-family: "Baskerville";
}
